.number {
	font-size: 12pt;
	height: auto;
	width: 25px;
	display: inline-block;
	text-align: center;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
}

p {
	display: inline;
}

.hidden {
	display: none;
}

.visible {
	display: inline;
}

.blue {
	color: blue;
}

.pink {
	color: pink;
}

.white {
	color: white;
}