.number {
	font-size: 12pt;
	height: auto;
	width: 25px;
	display: inline-block;
	text-align: center;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
}

p.pink {
	background-color: white;
	color: pink;
	display: inline;
}

p.blue {
	background-color: white;
	color: blue;
	display: inline;
}

p.white {
	background-color: white;
	color: white;
}